button {
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    background-color: #48a5a5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.disabled {
    background-color: rgb(111, 231, 169);
    cursor: not-allowed;
}
